<h1>Gallerier</h1>

  <ul>
    <% @collections.each do |collection| %>
      <li><%= link_to collection.name, edit_collection_path(collection) %></li>
    <% end %>
  </ul>
<br>
<%= link_to 'Ny samling', new_collection_path %>
