<h2>Helena Fogelberg</h2>
<p>
Jag är en självlärd konstnär som alltid har målat, pysslat och skapat sedan barnsben. För mig är kreativitet en del av livet och genomsyrar hur jag betraktar min omgivning. Naturen är en ständig inspirationskälla och där jag hämtar kraft. 
</p>
<p>
Jag iakttar naturen och målar sedan det jag ser i ett försök att fånga stunden. Helst vill jag förmedla en positiv och glad syn på tillvaron genom mina tavlor. I mina detaljrika illustrationer kan du möta charmiga smådjur som har mänskliga egenskaper och karaktärer.</p>
<p>
Jag målar i olja och akryl på canvas eller papper. Mina illustrationer tecknar jag fram och förstärker dem sedan genom att använda tuschpennor. 
</p>
<p>
Att skapa från återvunnet material har varit en stor del av mitt liv och det är alltid lika spännande att se vad som slutresultatet blir. Jag skapar dessutom i lera och jag har gått en del keramikkurser. 
</p>
<p>
Att skriva och illustrera böcker håller jag på med och jag räknar med att ge ut två egna barnböcker under året som kommer. 
</p>
