
<section id="photos">
  <% @artworks.each do |artwork| %>
    <%= link_to (image_tag artwork.image.thumb.to_s), artwork_path(artwork) unless artwork.image.blank? %>
  <% end %>
</section>
<br>
<%= link_to 'Nytt konstverk', new_artwork_path %>