
<p>
	<% unless @comment.blank? %>
		<h4><%= safe_join(@comment.split("\r\n"), "<br />".html_safe) %></h4>
	<% end %>
</p>
<br />
<section id="photos">
  <% @artworks.each do |artwork| %>
    <%= link_to (image_tag artwork.image.thumb.to_s), artwork_path(artwork) unless artwork.image.blank? %>
  <% end %>
</section>
<br>
<% if user_signed_in? %>
	<%= link_to 'Nytt konstverk', new_artwork_path %>
<% end %>