<h1>Tekniker</h1>

<table>
  <tbody>
    <% @techniques.each do |technique| %>
      <tr>
        <td><%= link_to technique.name, edit_technique_path(technique) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Ny teknik', new_technique_path %>
