<h2>Beställningar</h2>
<p>
Från dina foto, bilder eller idéer tar jag tar emot beställningar på:
<ul>
<li>tavlor målade i akryl och olja på canvas eller papper</li>
<li>illustrationer tecknade i blyers, målade i akryl eller tuschpennor</li>
<li>loggor</li>
<li>digitala bilder</li>
</ul>
<p>
Jag fotograferar även olika motiv enligt önskemål. 
</p>
<p>
Pris, storlek och teknik diskuteras vid beställning. Jag har F-skatt och redovisar moms.
</p>
<p>
Du är välkommen att kontakta mig under fliken ”kontakta mig” om du har frågor,idéer eller behöver hjälp med något som rör målningar, fotografier eller bilder! 
</p>