<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @news.header %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @news.image %>
</p>
