<h2>Kontakta mig</h2>
<p>
  Är du intresserad av en målning? Kanske har du en idé som jag kan hjälpa dig med att avbilda? Vill du ha hjälp med illustrationer till en barnbok eller önskar ett porträtt på ditt husdjur?
  Hör gärna av dig till mig på i så fall på <a href = "mailto:infoAThelenafogelberg.se" 
   onclick = "this.href=this.href
              .replace(/AT/,'&#64;')
              .replace(/DOT/,'&#46;')"
><span class="e-mail" data-user="ofni" data-website="es.greblegofaneleh"></span></a>.
