<div class="jumbotron">
	<br>
  <h1>Helena Fogelberg</h1>
	<h3>Art and Design</h3>
	<br>
	<br>
  <p>
		<%= link_to 'Välkommen!', artworks_path, :class=>'btn btn-primary btn-lg' %>
	</p>
	<br>
	<section id="welcomephotos">
  <% @artworks.each do |artwork| %>
    <%= link_to (image_tag artwork.image.thumb.to_s), artwork_path(artwork) unless artwork.image.blank? %>
  <% end %>
</section>
</div>

