
<div class='row'>
  <div class='col-md-8 absolute-center'>

    <h1>
    <div class="text-centre">Böcker</div>
      <small>
      <p>
        <%= image_tag('Wuffi.jpg', :width=>'30%', :class=>'textWrapLeft') %>
      </p>
      <p>   
        Jag arbetar med två olika barnböcker som jag skriver och illustrerar. Böckerna kommer att ges ut under 2015. Förhoppningsvis i tryck, men om inte annat som e-böcker.
      </p>
    <br />
    <br />
    <br />
    </small>
    </h1>
  </div>
</div>

