<h2>Vanliga frågor</h2>
<p>
<h3>Hur kan jag kontakta dig?</h3>
Enklast är om du under fliken ”Kontakta mig” fyller i namn, emailadress (telefonnummer om du vill) och en kort beskrivning vad du önskar hjälp med så kontaktar jag dig. 
</p>
<p>
<h3>Tar du emot beställningar?</h3>
<p>
Självklart gör jag det! Om du har ett husdjur, ett hus eller något annat du önskar få avbildat står jag gärna till ditt förfogande. Det går bra att skicka ett foto, en bild eller en idé till mig så bestämmer vi tillsammans storlek på målningen, pris och teknik (olja eller akryl) Vi sätter upp ett datum då målningen ska vara färdig. 
</p>
<p>
Jag tar även emot beställningar på illustrationer och loggor. Jag kan då skicka prover till dig på något du önskar få avbildat. 
</p>


