<h1>Gallerier</h1>

<table>
  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= link_to gallery.name, edit_gallery_path(gallery) %></td>
        <td><%= button_to 'Ta bort', gallery, method: :delete, data: { confirm: 'Är du säker?' }, :class=>'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Lägg till', new_gallery_path %>
