<h1>Material</h1>

<table>
  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= link_to material.name, edit_material_path(material) %></td>
        <td><%= link_to 'Ta  bort', material, method: :delete, data: { confirm: 'Är du säker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nytt material', new_material_path %>
